/* lobster-regular - latin */
@font-face {
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/lobster-v28-latin-regular.woff2") format("woff2"), url("../fonts/lobster-v28-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* chivo-regular - latin */
@font-face {
  font-family: "Chivo";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/chivo-v18-latin-regular.woff2") format("woff2"), url("../fonts/chivo-v18-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* chivo-700 - latin */
@font-face {
  font-family: "Chivo";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/chivo-v18-latin-700.woff2") format("woff2"), url("../fonts/chivo-v18-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* chivo-italic - latin */
@font-face {
  font-family: "Chivo";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/chivo-v18-latin-italic.woff2") format("woff2"), url("../fonts/chivo-v18-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* chivo-700italic - latin */
@font-face {
  font-family: "Chivo";
  font-style: italic;
  font-weight: 700;
  src: local(""), url("../fonts/chivo-v18-latin-700italic.woff2") format("woff2"), url("../fonts/chivo-v18-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  background-color: #393e46;
  text-align: center;
  margin: 0;
  font-family: "Chivo";
}

h1 {
  margin: 10px;
  font-family: "Lobster";
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #4ecca3;
}
@media only screen and (min-width: 992px) {
  h1 {
    margin: 30px;
    font-size: 8rem;
  }
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.3rem;
  padding: 0.4rem;
  margin: auto;
  background-color: #c7c7c7;
  width: 100%;
  border-radius: 4px;
}
@media only screen and (min-width: 576px) {
  .calculator {
    width: 65%;
  }
}
@media only screen and (min-width: 992px) {
  .calculator {
    width: 45%;
  }
}
@media only screen and (min-width: 1992px) {
  .calculator {
    width: 30%;
  }
}
.calculator h4 {
  text-align: left;
  padding-left: 0.5rem;
  grid-column: span 4;
}

.display {
  font-size: 30px;
  padding: 10px 5px;
  grid-column: span 4;
  height: 80px;
  text-align: right;
}
@media only screen and (min-width: 992px) {
  .display {
    font-size: 50px;
    padding: 20px 5px;
    height: 120px;
  }
}

.calc-btn {
  height: 4rem;
  font-size: 1rem;
  font-weight: bold;
  border-style: hidden;
  border-radius: 4px;
  background-color: white;
}
.calc-btn:hover {
  background-color: #d9d9d9;
  transition: 50ms;
}
.calc-btn:active {
  background-color: rgba(78, 71, 71, 0.863);
  transition: 50ms;
}
@media only screen and (min-width: 992px) {
  .calc-btn {
    height: 5.5rem;
    font-size: 1.5rem;
  }
}

.operator,
.btnClear {
  background-color: #d9d9d9;
}

.result-btn {
  background-color: rgb(133, 181, 229);
}
.result-btn:hover {
  background-color: rgb(51, 143, 241);
}
.result-btn:active {
  background-color: rgb(40, 117, 199);
  transition: 50ms;
}

p {
  font-size: 20px;
  color: white;
}

/*# sourceMappingURL=styles.css.map */
