//dependencies
@use "variables" as vars;
@use "mixins" as *;

body {
  background-color: #393e46;
  text-align: center;
}

h1 {
  margin: 10px;
  font-family: vars.$font-title;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: vars.$light-green;
  @include respondMin(vars.$breakpoints-laptop) {
    margin: 30px;
    font-size: 8rem;
  }
}

.background-calc {
  background-color: darken($color: vars.$white, $amount: 22);
  width: 80%;
  margin: auto;
  padding: 0.3rem;
  border-radius: 4px;
  @include respondMin(vars.$breakpoints-laptop) {
    width: 50%;
  }
  @include respondMin(vars.$breakpoints-desktop) {
    width: 35%;
  }
  .display {
    font-size: 50px;
    padding: 20px 5px;
    display: block;
    // white-space: wrap;
    height: 120px;
    text-align: right;
  }
}

h4 {
  text-align: left;
  padding-left: 0.5rem;
}

// .display,
// .display2 {
//   text-align: right;
//   display: block;
//   width: -webkit-fill-available;
// }

// .display {
//   font-size: 50px;
//   padding: 20px 5px;
//   display: block;
//   // height: ;
//   text-align: right;
// }

.grid-calc {
  width: 100%;
  gap: 0.3rem;
}

.grid-btn {
  padding-bottom: 0.2rem;
}

.calc-btn {
  height: 7.5rem;
  width: 24%;
  font-size: 1.5rem;
  font-weight: bold;
  border-style: hidden;
  background-color: vars.$white;
  &:hover {
    background-color: darken($color: white, $amount: 15);
    transition: 50ms;
  }
  &:active {
    background-color: rgba(78, 71, 71, 0.863);
    transition: 50ms;
  }
  @include respondMin(vars.$breakpoints-laptop) {
    height: 5rem;
  }
}

.operator,
.btnClear {
  background-color: darken($color: vars.$white, $amount: 15);
}

.result {
  background-color: rgb(133, 181, 229);
  &:hover {
    background-color: rgb(51, 143, 241);
  }
  &:active {
    background-color: rgb(40, 117, 199);
    transition: 50ms;
  }
}
