//dependencies
@use "variables" as vars;
@use "mixins" as *;
@use "fonts" as fonts;

body {
  background-color: #393e46;
  text-align: center;
  margin: 0;
  font-family: vars.$font-text;
}

h1 {
  margin: 10px;
  font-family: vars.$font-title;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: vars.$light-green;
  @include respondMin(vars.$breakpoints-laptop) {
    margin: 30px;
    font-size: 8rem;
  }
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.3rem;
  padding: 0.4rem;
  margin: auto;
  background-color: darken($color: vars.$white, $amount: 22);
  width: 100%;
  border-radius: 4px;
  @include respondMin(vars.$breakpoints-tablet) {
    width: 65%;
  }
  @include respondMin(vars.$breakpoints-laptop) {
    width: 45%;
  }
  @include respondMin(vars.$breakpoints-desktop) {
    width: 35%;
  }

  h4 {
    text-align: left;
    padding-left: 0.5rem;
    grid-column: span 4;
  }
}

.display {
  font-size: 30px;
  padding: 10px 5px;
  grid-column: span 4;
  height: 80px;
  // white-space: wrap;
  text-align: right;
  @include respondMin(vars.$breakpoints-laptop) {
    font-size: 50px;
    padding: 20px 5px;
    height: 120px;
  }
}

.calc-btn {
  height: 4rem;
  font-size: 1rem;
  font-weight: bold;
  border-style: hidden;
  border-radius: 4px;
  background-color: vars.$white;
  &:hover {
    background-color: darken($color: vars.$white, $amount: 15);
    transition: 50ms;
  }
  &:active {
    background-color: rgba(78, 71, 71, 0.863);
    transition: 50ms;
  }
  @include respondMin(vars.$breakpoints-laptop) {
    height: 5.5rem;
    font-size: 1.5rem;
  }
}

.operator,
.btnClear {
  background-color: darken($color: vars.$white, $amount: 15);
}

.result-btn {
  background-color: rgb(133, 181, 229);
  &:hover {
    background-color: rgb(51, 143, 241);
  }
  &:active {
    background-color: rgb(40, 117, 199);
    transition: 50ms;
  }
}

p {
  font-size: 20px;
  color: vars.$white;
}
