//breakpoints
$breakpoints-tablet: 576px;
$breakpoints-laptop: 992px;
$breakpoints-desktop: 1992px;

// font-family
$font-title: "Lobster";
$font-text: "Chivo";

//color
$light-green: #4ecca3;
$white: white;
